@model TournamentServiceModel

<div class="card" id="tournament-card">
    <img src="@Model.ImageURL" class="tournamentImage" alt="@Model.Name">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Surface: @Model.Surface.ToString()</p>
        <hr />
        <a asp-area="" asp-controller="Tournament" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-primary">Details</a>
    </div>
</div>